<div class="center">
   <div class="row">
      <%= form_tag("/trip", method: "get") do %>
      <div class="start-container">
         <%= text_field_tag :start, nil, placeholder: "Start" %>
      </div>
   </div>
   <div class="row">
         <div class="input">
            <%= text_field_tag :end, nil, placeholder: "Finish" %>
            <span class="button">
               <%= submit_tag("Go!", :class => "sub-button") %>
            </span>
         </div>
   </div>
   <div class="row">
      <div class="checkbox-container">
         <%= check_box_tag(:cbs, "true") %>
         <%= label_tag("Capital Bike Share") %>
      </div>
   </div>
      <% end %>
</div>
