<div id="map-container">
  <div id="map-canvas">
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose Your Bike Share Stations</h4>
      </div>
      <form>
         <div class="modal-body">
      
                           <div class="btn-group-vertical" data-toggle="buttons">
                             <label class="btn btn-primary">
                                    <input type="radio" name="start" id="option1" autocomplete="off">
                                    <%= @start_stations[0] %>
                              </label>
      
                             <label class="btn btn-primary">
                                    <input type="radio" name="start" id="option2" autocomplete="off">
                                    <%= @start_stations[1] %>
                              </label>
      
                             <label class="btn btn-primary">
                                    <input type="radio" name="start" id="option3" autocomplete="off">
                                    <%= @start_stations[2] %>
                              </label>
                           </div> 
      
                           <div class="btn-group-vertical" data-toggle="buttons">
                             <label class="btn btn-primary">
                                    <input type="radio" name="end" id="option1" autocomplete="off">
                                    <%= @end_stations[0] %>
                              </label>
      
                             <label class="btn btn-primary">
                                    <input type="radio" name="end" id="option2" autocomplete="off">
                                    <%= @end_stations[1] %>
                              </label>
      
                             <label class="btn btn-primary">
                                    <input type="radio" name="end" id="option3" autocomplete="off">
                                    <%= @end_stations[2] %>
                              </label>
                           </div> 
            </div>
            <div class="modal-footer">
               <span class="btn btn-default">
                     <%= link_to "Back", root_path %>
               </span>
              <button type="submit" formtarget="_self" class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
         </form>
    </div>
  </div>
</div>
<script type="text/javascript">
   var startTrip = "<%= @start %>";
   var endTrip = "<%= @end %>";
   var cbs = "<%= @cbs %>";
   if(cbs === "true"){
      $('#myModal').modal('toggle');
   };

</script>